body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    /* background-image: url(images/poly.jpg);
    background-image: contain;
    background-repeat: no-repeat;
    background-position-x: center; */
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-top: 50px;
    padding: 0 50px
}

main {
    text-align: center;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

footer {
    text-align: center;
    margin-top: 200px;
}


/* HEADING TYPOGRAPGY*/

h1 {
    font-size: 50px;
}

h2 {
    padding-top: 45px
}


/* BUTTONS, INPUTS */

button, input {
    padding: 15px 25px;
    /* border-radius: 35px;
    background-color: #03A9F4;
    border: none;
    font-weight: bold; */
}


/* FORM, DIV BOXES */

form {
    background-color: grey;
    width: 450px;
    height: 300px; 
}

fieldset {
    border: none;
}

.correct-answer, .wrong-answer, .total-score {
    background-color: grey;
    width: 350px;
    height: 250px;
}



